<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>恐龍吃水果 - 快樂學習樂園</title>
    <link rel="stylesheet" th:href="@{/css/dino-fruit.css}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
    </style>
</head>

<body>
    <div id="game-container">
        <div id="dino-container">
            <img th:src="@{/images/games/dino-fruit/dino.png}" id="dino-img">
            <div id="bubble" class="hidden">我想吃蘋果! 🍎</div>
        </div>
        <div id="fruits-container">
            <!-- Fruits will be injected by JS -->
        </div>
        <div id="message-overlay" class="hidden">
            <div class="message-content">
                <h1>恐龍吃飽了!</h1>
                <p>謝謝你餵我吃東西!</p>
                <button onclick="location.reload()">再玩一次</button>
                <a href="/games/menu" class="btn-home">回選單</a>
            </div>
        </div>
        <div id="tutorial-overlay">
            <h1>恐龍吃水果 🦕🍎</h1>
            <p>點擊恐龍想吃的水果！</p>
            <button onclick="startGame()">開始!</button>
        </div>
    </div>
    <script th:src="@{/js/dino-fruit.js}"></script>
</body>

</html>